
body {
    background-color: rgb(255, 255, 255);
  }
h1 {
    color: black;
    text-align: center;
  }
p {
    text-align: center;
    color: rgb(0, 0, 0);
  }
.container {
    position: relative;
    align-items: center;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
  }
  /* Bottom left text */
.in-Bar {
  position: absolute;
  bottom: 5px;
  left: 21px; 
}
.column{
  float: left;
  
}
.numbers{
  float:right;
  position: relative;
  color:black
}
.row::after {
  content: "";
  clear: both;
  display: table;
}